{% extends layout.html %}

{% block content %}
<div>在indie.contact找找独立游戏策划、美术、程序、音乐、文案、测试人的联系方式吧。你也可以发布组队招募的消息。</div>
<div style="margin:1em">
    <div style="font-weight:bold">标签搜索</div>
    <form><input><input type="submit" value="搜索"></form>
    <div>热门标签：<a href="#">美工</a> <a href="#">程序</a> <a href="#">Unity</a> <a href="#">Unreal</a> 
    <a href="#">Live2D</a> <a href="#">Spine/龙骨</a> 
    <a href="#">像素</a> <a href="#">立绘</a> <a href="#">数值策划</a> <a href="#">RPGMaker</a> <a href="#">所有标签</a>
    </div>
</div>
<div style="margin:1em">
    <div>
        <h2>最新会员</h2> <a href="#">全部会员</a>
    </div>
        {% foreach($users as $row): %}
        <div><a href="{% echo user2url($row) %}">{{{ $row['name'] }}}</a> {{{ $row['role'] }}}</div>
        {% endforeach; %}
    </div>
<div style="margin:1em">
<div>
    <h2>最新招募</h2> <a href="/job/new">发布招募</a> <a href="#">全部招募</a>
</div>
    {% foreach($jobs as $row): %}
    <a href="/job/{{ $row['jid'] }}"><div>{{{ $row['title'] }}}</div></a>
    {% endforeach; %}
</div>
{% endblock %}