{% extends layout.html %}

{% block content %}
<div>在indie.contact找找独立游戏策划、美术、程序、音乐、文案、测试人的联系方式吧。你也可以发布组队招募的消息。</div>
<div style="margin:1em">
    <div style="font-weight:bold">标签搜索</div>
    <form>
        <input id="input_raw" style="display:none">
        <div id="input_master" style="display:inline;border:1px solid grey">
            <ul id="input_tags" style="display:inline;padding:0">
                <input id="input_current" value="" style="border:none; outline:none;background:transparent"/>
            </ul>
        </div>
        <button>搜索</button>
    </form>
    <div>热门标签：
        {%foreach($hottags as $tag):%}
        <a href="/users?tags[]={{ $tag['tagurl'] }}">{{$tag['tagname']}}</a>
        {%endforeach;%}
        <a href="/tags">所有标签→</a>
    </div>
</div>
<div style="margin:1em">
    <div>
        <h2>新会员</h2> <a href="/users">全部会员</a>
    </div>
        {% foreach($users as $row): %}
        <div><a href="{% echo user2url($row) %}">{{{ $row['name'] }}}</a> {{{ $row['role'] }}}</div>
        {% endforeach; %}
    </div>
<div style="margin:1em">
<div>
    <h2>新招募</h2> <a href="/job/new">发布招募</a> <a href="/jobs">全部招募</a>
</div>
    {% foreach($jobs as $row): %}
    <a href="/job/{{ $row['jid'] }}"><div>{{{ $row['title'] }}}</div></a>
    {% endforeach; %}
</div>
{% endblock %}