{% extends layout.html %}

{% block content %}
<h2>资料编辑</h2>
<form method="POST">
<div><input name="name" value="{{{ $page['name'] }}}" placeholder="昵称" required></div>
<div><input name="role" value="{{{ $page['role'] }}}" placeholder="职能（程序/美术/音乐/...）" required></div>
<div>标签（<a href="/?u={{$page['uid']}}&a=edittags">编辑</a>）：
    {% if (!$tags): %}无{% endif; %}
    {% foreach($tags as $tag): %}
    {{$tag['tagname']}}
    {% endforeach; %}
</div>
<div><input name="contact" value="{{{ $page['contact'] }}}" placeholder="主要联系方式"></div>
<textarea name="bio">{{{ $page['bio'] }}}</textarea>
<div><button type="submit">保存</button></div>
</form>
<div>
    <h3>作品管理</h3>
    <button id="uploadbutton" type="button">上传附件</button>最多上传10个文件，每个文件最大8M。大文件尽量传到外站，然后插入URL。
    <ul id="works">
        {% foreach($works as $work): %}
        <li draggable="true" ondragstart="onDragStart(event)" ondragover="onDragOver(event)">
            <a draggable="false" href="{{ $work['url'] }}">{{{ $work['desc'] }}}</a>
        </li>
        {% endforeach; %}
    </ul>
    <script src="myjs/editworks.js"></script> 
</div>
{% endblock %}