{% extends layout.html %}

{% block content %}
<h2>资料编辑</h2>
<form method="POST">
    <div><input name="name" value="{{{ $page['name'] }}}" placeholder="昵称" required></div>
    <div>
        {%$role0='maker'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">制作人</label>
        {%$role0='designer'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">策划</label>
        {%$role0='programmer'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">程序</label>
        {%$role0='writer'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">文案</label>
        {%$role0='artist'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">美术</label>
        {%$role0='musician'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">音乐</label>
        {%$role0='tester'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">测试</label>
        {%$role0='other'%}<input type="radio" name="role0" value="{{$role0}}" id="role0_{{$role0}}" {%if ($page['role0']===$role0) echo 'checked'; %}><label for="role0_{{$role0}}">其他</label>
    </div>
    <div><input name="role" value="{{{ $page['role'] }}}" placeholder="一句话简介（Unity程序/像素美术/...）"></div>
    <div>标签（<a href="/?u={{$page['uid']}}&a=edittags">编辑</a>）：
        {% if (!$tags): %}无{% endif; %}
        {% foreach($tags as $tag): %}
        {{$tag['tagname']}}
        {% endforeach; %}
    </div>
    <div><input name="contact" value="{{{ $page['contact'] }}}" placeholder="主要联系方式"></div>
    <div><textarea name="contact2" id="contact2">{{{ $page['contact2'] }}}</textarea>
    <script>$('contact2').placeholder="其他联系方式\n微博@昵称\nmy(a)email.com";</script></div>
    <div>个人简介：</div>
    <textarea name="bio">{{{ $page['bio'] }}}</textarea>
    <div><button type="submit">保存</button></div>
</form>
<div>
    <h3>作品管理</h3>
    <button id="uploadbutton" type="button">上传作品</button>最多上传30个文件，所有文件最大30M。大文件可以传到外站，然后插入URL。
    <ul id="works">
        {% foreach($works as $work): %}
        <li draggable="true" ondragstart="onDragStart(event)" ondragover="onDragOver(event)">
            <a draggable="false" href="{{ $work['url'] }}">{{{ $work['desc'] }}}</a>
        </li>
        {% endforeach; %}
    </ul>
    <script src="myjs/editworks.js"></script> 
</div>
{% endblock %}